DATABASE_URL="file:./dev.db"
JWT_SECRET="substitua-por-um-segredo-longo-e-aleatorio"

MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_SECURE="false"
MAIL_USER="seu_usuario_mailtrap"
MAIL_PASS="sua_senha_mailtrap"
MAIL_FROM="no-reply@gamerate.local"
MAIL_TO="admin@gamerate.com"
